<div class="bg-white mb-2 rounded-xl flex justify-center shadow-lg">
  <!-- <div>
    <div
      id="carouselExampleCaptions"
      class="relative"
      data-te-carousel-init
      data-te-carousel-slide>
      <div
        class="absolute right-0 bottom-0 left-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
        data-te-carousel-indicators>
        <button
          type="button"
          data-te-target="#carouselExampleCaptions"
          data-te-slide-to="0"
          data-te-carousel-active
          class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
          aria-current="true"
          aria-label="Slide 1"></button>
        <button
          type="button"
          data-te-target="#carouselExampleCaptions"
          data-te-slide-to="1"
          class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
          aria-label="Slide 2"></button>
        <button
          type="button"
          data-te-target="#carouselExampleCaptions"
          data-te-slide-to="2"
          class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
          aria-label="Slide 3"></button>
          <button
          type="button"
          data-te-target="#carouselExampleCaptions"
          data-te-slide-to="3"
          class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
          aria-label="Slide 4"></button>
        <button
          type="button"
          data-te-target="#carouselExampleCaptions"
          data-te-slide-to="4"
          class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
          aria-label="Slide 5"></button>
      </div>
      <div
        class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
        <div
          class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-te-carousel-active
          data-te-carousel-item
          style="backface-visibility: hidden">
          <img
            src="../../../../assets/image/slide-1.jpg"
            class="block w-full"
            alt="..." />
        </div>
        <div
          class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-te-carousel-item
          style="backface-visibility: hidden">
          <img
            src="../../../../assets/image/slide-2.jpg"
            class="block w-full"
            alt="..." />
        </div>
        <div
          class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-te-carousel-item
          style="backface-visibility: hidden">
          <img
            src="../../../../assets/image/slide-3.jpg"
            class="block w-full"
            alt="..." />
        </div>
        <div
          class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-te-carousel-item
          style="backface-visibility: hidden">
          <img
            src="../../../../assets/image/slide-4.jpg"
            class="block w-full"
            alt="..." />
        </div>
        <div
          class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-te-carousel-item
          style="backface-visibility: hidden">
          <img
            src="../../../../assets/image/slide-5.jpg"
            class="block w-full"
            alt="..." />
        </div>
      </div>
      <button
        class="absolute top-0 bottom-0 left-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
        type="button"
        data-te-target="#carouselExampleCaptions"
        data-te-slide="prev">
        <span class="inline-block h-8 w-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5L8.25 12l7.5-7.5" />
          </svg>
        </span>
        <span
          class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
          >Previous</span
        >
      </button>
      <button
        class="absolute top-0 bottom-0 right-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
        type="button"
        data-te-target="#carouselExampleCaptions"
        data-te-slide="next">
        <span class="inline-block h-8 w-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5" />
          </svg>
        </span>
        <span
          class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
          >Next</span
        >
      </button>
    </div>
  </div> -->

  <swiper-container  navigation="true" pagination="true">
    <swiper-slide><img class="rounded-xl" src="../../../../assets/image/slide-1.jpg" alt=""></swiper-slide>
    <swiper-slide><img class="rounded-xl" src="../../../../assets/image/slide-2.jpg" alt=""></swiper-slide>
    <swiper-slide><img class="rounded-xl" src="../../../../assets/image/slide-3.jpg" alt=""></swiper-slide>
    <swiper-slide><img class="rounded-xl" src="../../../../assets/image/slide-4.jpg" alt=""></swiper-slide>
  </swiper-container>


</div>

<div class="bg-white my-2 rounded-xl flex justify-center shadow-lg">
  <div>
    <div class="w-[1150px] m-5 flex justify-between">
      <div class="">
        <mat-form-field class="example-full-width w-[400px]">
          <mat-label>Keywords, job titles, company name</mat-label>
          <input matInput #message maxlength="256" placeholder="Job Title, Company" >
        </mat-form-field>
      </div>
      <div>
        <form class="example-form">
          <mat-form-field class="example-full-width w-[300px]" appearance="fill">
            <mat-label>Job Function</mat-label>
            <input type="text"
                  placeholder="Pick one"
                  aria-label="Number"
                  matInput
                  [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let job_Function of Job_Functions" [value]="job_Function.job_title">
                {{job_Function.job_title}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div>
        <form class="example-form">
          <mat-form-field class="example-full-width w-[300px]" appearance="fill">
            <mat-label>Job's Location</mat-label>
            <input type="text"
                  placeholder="Pick one"
                  aria-label="Number"
                  matInput
                  [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let job_Function of Job_Functions" [value]="job_Function.job_title">
                {{job_Function.job_title}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="mt-4">
        <button class="self-center px-5 py-1 rounded-3xl text-white bg-[#20c9f9]">Search</button>
      </div>
    </div>
    <div>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight>
        <mat-tab label="Function">
          <div class="flex justify-between mx-5 mt-5 text-cyan-500" >
            <div class="container mx-auto">
                <div class="flex flex-wrap">
                  <div *ngFor="let Job_Function of Job_Functions" class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">{{ Job_Function.job_title }}</h4>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Industry">
          <div class="flex justify-between mx-5 mt-5 text-cyan-500">
            <div class="container mx-auto">
                <div class="flex flex-wrap">
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Accounting / Audit / Tax...</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Consulting Services </h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Agriculture & Forestry</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Automotive / Heavy Equipment</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Banking / Financial Service</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Jewelery / Gems / Watches</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Telecommunication </h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Automotive / Heavy Equipment</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Chemical / Petrochemical</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Information Technology </h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Pharmaceutical / Health Care </h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Garments and Textiles</h4>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Location">
          <div class="flex justify-between mx-5 mt-5 text-cyan-500">
            <div class="container mx-auto">
                <div class="flex flex-wrap">
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Agriculture & Forestry</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Agriculture & Forestry</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Agriculture & Forestry</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Agriculture & Forestry</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Agriculture & Forestry</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Agriculture & Forestry</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Agriculture & Forestry</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Agriculture & Forestry</h4>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Salary">
          <div class="flex justify-between mx-5 mt-5 text-cyan-500">
            <div class="container mx-auto">
                <div class="flex flex-wrap">
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500"> up to $300 </h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">$400 - $700</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">$700 $1000</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">$1000 - $1500</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">$1000 - $1500</h4>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="period">
          <div class="flex justify-between mx-5 mt-5 text-cyan-500">
            <div class="container mx-auto">
                <div class="flex flex-wrap">
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">This Week</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">Last Week</h4>
                    </div>
                  </div>
                  <div class="lg:w-1/4 md:w-full">
                    <div class="flex-grow hover:cursor-pointer">
                      <h4 class="text-lg title-font text-cyan-500">This Month</h4>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div class="bg-white my-5 rounded-xl h-[70px] shadow-lg">
  <div class="flex justify-between items-center mx-8">
    <div class="w-[950px] flex justify-center">
      <h2 class="pt-5">"The best marketing doesn't feel like marketing."<strong>–Tom Fishburne</strong></h2>
    </div>
    <div>
    <button class="self-center px-5 py-1 ml-4 rounded-3xl text-white bg-[#20c9f9]">Get Quotations</button>
    </div>
  </div>
</div>

<div class="bg-white my-5 rounded-xl h-[70px] shadow-lg">
  <div class="flex items-center mx-8 h-[38px]">
    <h3 class="my-5 flex items-center" style="margin-bottom: 0;">Premium Employers</h3>
  </div>
  <div class="border-[1px]"></div>
</div>
